.buttons {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    color: $nickel;
    height: 51px;
    padding: 0px 20px;
    margin: 0px 12px;
}